.resources__logo {
    width: 270px;
    height: 38px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resources__logo:hover {
    opacity: 0.5;
    transition-duration: 1s;
}

.resources__logo:nth-of-type(1) {
    background-image: url(../../../images/logo/resources-arzamas.svg);
    background-size: 270px 38px;
 }

.resources__logo:nth-of-type(2) {
    background-image: url(../../../images/logo/resources-n1.svg);
    background-size: 270px 38px;
}

.resources__logo:nth-of-type(3) {
    background-image: url(../../../images/logo/resources-strelka.svg);
    background-size: 270px 38px;
}

.resources__logo:nth-of-type(4) {
    background-image: url(../../../images/logo/resources-polka.svg);
    background-size: 270px 38px;
  }