.resources__logo {
    width: 270px;
    height: 38px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.resources__logo:hover {
    opacity: 0.5;
    transition-duration: 1s;
}
